@font-face {
    font-family: "Paladins";
    src: url("../fonts/paladins/paladins.ttf") format("truetype");
}

@font-face {
    font-family: "Akira";
    src: url("../fonts/akira_expanded/Akira\ Expanded\ Demo.otf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, sans-serif;
}

body {
    color: white;
    font-family: 'Segoe UI', sans-serif;

    background:
    radial-gradient(circle at top left,#5224ff44,transparent 35%),
    radial-gradient(circle at bottom right,#00ffd544,transparent 35%),
    linear-gradient(180deg,#09090f,#111827,#09090f);

    overflow-x: hidden;
}


main{
    margin-top:-40px;
}

h1,h2,h3{

    font-family: "Akira", sans-serif;
    text-shadow:0 5px 20px rgba(0,0,0,.6);

}

/* Navegação */
.navbar{
    position: fixed;
    top:0;
    width:100%;
    z-index:100;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:20px 60px;

    background:
    linear-gradient(
    90deg,
    rgba(10,10,15,.95),
    rgba(17,24,39,.95)
);
    backdrop-filter:blur(12px);

    border-bottom:1px solid rgba(255,255,255,.08);
}
.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.logo{
    width:170px;
    cursor:pointer;
    transition:.4s;
    border-radius: 50px;
}

.logo:hover{
    transform:scale(1.05);
    filter:drop-shadow(0 0 15px #8b5cf6);
}

/* From Uiverse.io by zanina-yassine */ 
/* --- NOVO DESIGN DOS BOTÕES DA NAVBAR --- */
.primary-button {
 font-family: 'Segoe UI', Tahoma, sans-serif;
 color: white;
 cursor: pointer;
 font-size: 13px;
 font-weight: bold;
 letter-spacing: 0.05rem;
 border: 1px solid #0E1822;
 border-radius: 10px;
 padding: 0.8rem 2.1rem;
 /* A cor de preenchimento do SVG foi alterada de FF4655 para 7c3aed */
 background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 531.28 200'%3E%3Cdefs%3E%3Cstyle%3E .shape %7B fill: %237c3aed /* fill: %230E1822; */ %7D %3C/style%3E%3C/defs%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Layer_1-2' data-name='Layer 1'%3E%3Cpolygon class='shape' points='415.81 200 0 200 115.47 0 531.28 0 415.81 200' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
 background-color: #0E1822;
 background-size: 200%;
 background-position: 200%;
 background-repeat: no-repeat;
 transition: 0.3s ease-in-out;
 transition-property: background-position, border, color;
 position: relative;
 z-index: 1;
}

.primary-button:hover {
 border: 1px solid #7c3aed; /* Cor da borda no hover alterada para roxo */
 color: white;
 background-position: 40%;
}

.primary-button:before {
 content: "";
 position: absolute;
 background-color: #0E1822;
 width: 0.2rem;
 height: 0.2rem;
 top: -1px;
 left: -1px;
 transition: background-color 0.15s ease-in-out;
}

.primary-button:hover:before {
 background-color: white;
}

.primary-button:hover:after {
 background-color: white;
}

.primary-button:after {
 content: "";
 position: absolute;
 background-color: #7c3aed; /* Cor do detalhe no canto alterada para roxo */
 width: 0.3rem;
 height: 0.3rem;
 bottom: -1px;
 right: -1px;
 transition: background-color 0.15s ease-in-out;
}

.navbar a {

    color: #b3b3b3;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.navbar a:hover {
    color: #bb86fc;
}

/* Banner Dinâmico (Hero) */
.hero{
    min-height: 90vh;

    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;

    padding: 160px 80px 80px;

    position: relative;

    overflow: hidden;

    transition: opacity .4s ease;
}


.hero-conteudo {
    position: relative;
    z-index: 2;
    max-width: 600px;
}

.tag-destaque{

background:linear-gradient(
45deg,
#ff005d,
#ff4d00
);

padding:10px 18px;

border-radius:50px;

font-weight:bold;

box-shadow:0 0 20px #ff005d;

}

.hero h1{
    font-size:4.5rem;
    font-weight:800;
    line-height:1.1;
    margin:20px 0;
    text-shadow:0 10px 25px black;

}

.hero::before{

content:"";

position:absolute;

inset:0;

background:linear-gradient(
90deg,
rgba(5,5,5,.92),
rgba(5,5,5,.45),
transparent
);

}
.btn-grande {
    font-size: 1.1rem;
    padding: 15px 30px;
    margin-top: 20px;
}


.categoria-section{
    padding:80px;
}

.apresentacao{
    font-family: "Paladins", sans-serif;
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:60px;
    padding:90px 80px;

}

.texto-apresentacao{
    
    flex:1;

}

.subtitulo{
    color:#8b5cf6;
    font-size:18px;
    font-weight:bold;
    text-transform:uppercase;
    letter-spacing:2px;

}

.texto-apresentacao h2{

    font-family: "Paladins", sans-serif;
    font-size:40px;
    margin:20px 0;
    line-height:1.2;

}

.texto-apresentacao p{

    color:#cfcfcf;
    font-size:18px;
    line-height:1.9;
    margin-bottom:25px;
    text-align:justify;

}

.imagem-apresentacao{

    flex:1;
    display:flex;
    justify-content:center;

}

.imagem-apresentacao img{

    width:100%;
    max-width:520px;
    border-radius:20px;
    box-shadow:0 20px 40px rgba(124,58,237,.35);
    transition:.4s;

}

.imagem-apresentacao img:hover{

    transform:scale(1.03);

}

/* From Uiverse.io by adamgiebl */ 
.cssbuttons-io-button {
    background: #a370f0;
    color: white;
    font-family: "Akira", sans-serif;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #714da6;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
    cursor: pointer;
}

.cssbuttons-io-button .icon {
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #7b52b9;
    right: 0.3em;
    transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
  width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: #8b5cf6;
}

.cssbuttons-io-button:hover .icon svg {
  transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
  transform: scale(0.95);
}


.estatisticas{

    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap: 0.5px;
    padding:15px 30px;
    background:#15161d;
    border-top:1px solid rgba(255,255,255,.08);
    border-bottom:1px solid rgba(255,255,255,.08);

}

.estatisticas div {
    
    width: 24%;
    padding: 19px;
    border-radius: 0;
    text-align: center;
    background: #20212c;
    transition: .3s;
    border: 1px solid rgba(0, 0, 0, 0.062);
}


.estatisticas div:hover{
    margin: auto;
    transform:translateY(-6px);
    font-family: "Paladins", sans-serif;
    box-shadow:0 10px 25px rgba(124,58,237,.35);

}

.estatisticas h2{

        font-family: "Paladins", sans-serif;
    color:#8b5cf6;
    font-size:2rem;
    margin-bottom:10px;

}

.estatisticas p{

    font-family: "Paladins", sans-serif;
    color:#bdbdbd;
    font-size:15px;

}


.titulo-categoria{

    font-family: "Paladins", sans-serif;
    font-size:34px;
    margin-bottom:35px;
    font-weight:700;
    border-left:5px solid #7c3aed;
    padding-left:15px;

}

.container-jogos{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:15px;
}
/* Cards (Mantendo a estrutura anterior) */

.card-jogo{

    background:#18181b;
    border-radius:5px;
    overflow:hidden;
    transition:.3s;
    border:1px solid rgba(255,255,255,.05);

}

.card-jogo img{

    width:100%;
    height:140px;
    object-fit:cover;

    transition:.35s;

}
.card-jogo:hover{

    transform:translateY(-6px);
    box-shadow:0 15px 35px rgba(124,58,237,.25);

}

.card-jogo:hover img{

    transform:scale(1.05);

}

.info-jogo {
    padding: 15px;
}

.info-jogo h3 {
    
    font-size: 1.1rem;
    margin-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.preco-antigo {
    
    text-decoration: line-through;
    color: #888;
    font-size: 0.9rem;
    margin-right: 10px;
}

.preco-novo {
    
    color: #03dac6;
    font-size: 1.2rem;
    font-weight: bold;
}

/* From Uiverse.io by cssbuttons-io */ 
.wrapper {
 perspective: 500px;
 transform: rotatex(10deg);
 animation: rotateAngle 30s linear infinite;
 width: auto;
}

.wrapper button {
 display: block;
 position: relative;
 margin: 0.5em 0;
 padding: 0.8em 2.2em;
 cursor: pointer;
 background: radial-gradient(90deg ,#a370f0,white );
 border: none;
 border-radius: 0.4em;
 text-transform: uppercase;
 font-size: 19px;
 font-family: "Work Sans", sans-serif;
 font-weight: 500;
 letter-spacing: 0.04em;
 mix-blend-mode: color-dodge;
 perspective: 500px;
 transform-style: preserve-3d;
}

.wrapper button:before, .wrapper button:after {
 --z: 0px;
 position: absolute;
 top: 0;
 left: 0;
 display: block;
 content: "";
 width: 100%;
 height: 100%;
 opacity: 0;
 mix-blend-mode: inherit;
 border-radius: inherit;
 transform-style: preserve-3d;
 transform: translate3d(calc(var(--z) * 0px), calc(var(--z) * 0px), calc(var(--z) * 0px));
}

.wrapper button span {
 mix-blend-mode: none;
 display: block;
}

.wrapper button:after {
 background-color: #5D00FF;
}

.wrapper button:before {
 background-color: #FF1731;
}

.wrapper button:hover {
 background-color: #FFF65B;
 transition: background 0.3s 0.1s;
}

.wrapper button:hover:before {
 --z: 0.04;
 animation: translateWobble 2.2s ease forwards;
}

.wrapper button:hover:after {
 --z: -0.06;    
 animation: translateWobble 2.2s ease forwards;
}

.btn-comprar{
    background: #8b5cf6;
    color: white;
    font-family: "Akira";
    margin: 5px;
    border-radius: 5px;
    padding: 10px;
}

.btn-comprar:hover{
    transform:translateY(-4px);
    box-shadow:0 0 45px rgba(124,58,237,.7);

}

.card-jogo{

    animation:aparecer .6s ease;

}

/* Transforma o botao de login em um circulo */
#circulo-perfil {
    width: 45px;
    height: 45px;
    background-color: #6366f1; 
    color: white; 
    border-radius: 50%; 
    
    /* Flexbox para centralizar a letra perfeitamente no meio do círculo */
    display: flex; 
    align-items: center;
    justify-content: center;
    
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
}

/* Efeito de aumentar um pouquinho quando passa o mouse por cima */
#circulo-perfil:hover {
    transform: scale(1.1);
}

@keyframes aparecer{
from{
    opacity:0;
    transform:translateY(50px);
}
to{
    opacity:1;
    transform:translateY(0);
}
}


@keyframes rotateAngle {
    0% {
        transform: rotateY(0deg) rotateX(10deg);
    }

    25% {
        transform: rotateY(20deg) rotateX(10deg);
    }

    50% {
        transform: rotateY(0deg) rotateX(10deg);
    }

    75% {
        transform: rotateY(-20deg) rotateX(10deg);
    }

    100% {
        transform: rotateY(0deg) rotateX(10deg);
    }
}

@keyframes translateWobble {
 0% {
  opacity: 0;
  transform: translate3d(calc(var(--z) * 0px), calc(var(--z) * 0px), calc(var(--z) * 0px));
 }

 16% {
  transform: translate3d(calc(var(--z) * 160px), calc(var(--z) * 160px), calc(var(--z) * 160px));
 }

 28% {
  opacity: 1;
  transform: translate3d(calc(var(--z) * 70px), calc(var(--z) * 70px), calc(var(--z) * 70px));
 }

 44% {
  transform: translate3d(calc(var(--z) * 130px), calc(var(--z) * 130px), calc(var(--z) * 130px));
 }

 59% {
  transform: translate3d(calc(var(--z) * 85px), calc(var(--z) * 85px), calc(var(--z) * 85px));
 }

 73% {
  transform: translate3d(calc(var(--z) * 110px), calc(var(--z) * 110px), calc(var(--z) * 110px));
 }

 88% {
  opacity: 1;
  transform: translate3d(calc(var(--z) * 90px), calc(var(--z) * 90px), calc(var(--z) * 90px));
 }

 100% {
  opacity: 1;
  transform: translate3d(calc(var(--z) * 100px), calc(var(--z) * 100px), calc(var(--z) * 100px));
 }
}
