<!DOCTYPE html>
<html lang="pt-BR">

<head>

    <meta charset="UTF-8">

    <title>Detalhes do jogo</title>

    <link rel="stylesheet" href="style/jogo.css">

</head>

<body>

    <div class="banner"></div>

    <section class="container">

        <div class="imagem">
            <img id="capa">
        </div>

        <div class="informacoes">

            <h1 id="nome"></h1>

            <div class="nota">
                ⭐ <span id="rating"></span>
            </div>

            <div class="preco">
                R$ <span id="preco"></span>
            </div>

            <button id="btnCarrinho">
                Adicionar ao Carrinho
            </button>

            <h2>Descrição</h2>

            <p id="descricao"></p>

        </div>

    </section>

    <script src="script/jogo.js"></script>

</body>

</html>